body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
}

img#profile-pic {
    width: 200px; /* Smaller size */
    border-radius: 10px;
    margin-top: 20px;
}

button {
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: darkred;
}

.social-links a {
    color: #00a2ff; /* Blue color for socials */
    text-decoration: none;
    font-weight: bold;
}

.social-links a:hover {
    text-decoration: underline;
}

#music-controls {
    margin-top: 20px;
}

#music-progress {
    width: 100px;
}

#speed-control {
    margin-left: 10px;
}
